%table{ data: { purpose: 'memberships-list'}}
  %caption Projects
  - memberships.each do |m|
    %tr[m]
      %td= link_to m.project.name, m.project
      %td= best_in_place m, :description, type: :textarea

