%table{ data: { purpose: 'memberships-list'}}
  %caption Member of projects
  - memberships.each do |m|
    %tr[m]
      %td.name= link_to m.project.name, m.project
      %td.description= best_in_place m, :description, type: :textarea, nil: '…'
      %td.actions
        %ul
          %li= link_to 'delete', m, method: :delete, data: { purpose: 'delete_action', confirm: 'Are you sure ?' }

