angular.module("NewsApp")
  .controller "NewsItemsCtrl", [ "$scope", "$http", "$window", "NewsItem",  ($scope, $http, $window, NewsItem) ->

    $scope.setFilter = (filter) ->
      $scope.filter     = filter
      $scope.news_items = NewsItem.query(filter: filter)

    $scope.reset_form = ->
      $scope.mode = 'add'
      $scope.news_item = new NewsItem( language: '<%= News::Item::LANGUAGES.first %>')

    $scope.load = ->
      $scope.news_items = NewsItem.query()
      $scope.setFilter('all')
      $scope.reset_form()

    $scope.addItem = (data) ->
      NewsItem.save data, (news_item) ->
        $scope.news_items.unshift(new NewsItem(news_item))
        $scope.reset_form()

    $scope.destroyItem = (news_item) ->
      if $window.confirm('Are you sure ?')
        NewsItem.delete news_item, (success) ->
          $scope.news_items.splice($scope.news_items.indexOf(news_item),1)
          $scope.reset_form()

    $scope.saveItem = (news_item) ->
      NewsItem.update({ id: news_item.id }, news_item)
      $scope.reset_form()

    $scope.editItem = (news_item) ->
      $scope.news_item = news_item
      $scope.mode = 'edit'




    page = 1
    getData = (data, page) ->
      res = []
      i = 0

      while i < page * 100 and i < data.length
        res.push data[i]
        ++i
      res


    rowTemplate = ->
        "<div ng-click=\"getExternalScopes().fnOne(row)\"
              ng-repeat=\"col in colContainer.renderedColumns track by col.colDef.name\"
              class=\"ui-grid-cell\" ui-grid-cell>
        </div>"

    $scope.gridOptions = {
      rowTemplate:     rowTemplate()
      enableFiltering: true
      columnDefs: [
        { field: "author" }
        {
          field: "summary"
          filter:
            condition: (searchTerm, cellValue) ->
              cellValue.match searchTerm
        }
        { field: "body" }
        { field: "language" }
      ],
    }

    $http.get '/data/10000_complex.json'
      .success (data) ->
        $scope.gridOptions.data = getData(data, page)







    $scope.load()
  ]
