%br

%p
  = link_to news_admin_path do
    %i.glyphicon.glyphicon-circle-arrow-left
    Back

%h3 Sending news digests

- users.each do |user|
  %pre= News::ReceivingADigestEmail.new(user, dry_run: false).call
