<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= user.name %>, here are your freshes news from the Marketplace</h1>
    <%= digest_body %>
  </body>
</html>
