%tr
  - taggable = tagging.taggable_type.constantize.find(tagging.taggable_id)
  %td= link_to taggable.name, taggable
  %td= tagging.context
  %td= best_in_place tagging, :description, type: :textarea
  %td= best_in_place tagging, :quantifier, type: :select, collection: [[0, '—'], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5] ]
